<!-- carousel start -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active carousel-ucv carousel-bg-img">
      <div class="container text-center">
        <div class="carousel-caption">
          <h1>Universidad Central de Venezuela</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
        </div>
        <img class="carousel-img" src="./assets/images/logo-ucv.png" alt="ucv logo">
      </div>
    </div>
    <div class="carousel-item carousel-ciencias carousel-bg-img">
      <div class="container text-center">
        <div class="carousel-caption">
          <h1>Facultad de Ciencias</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
        </div>
        <img class="carousel-img" src="./assets/images/logo-ciencias.png" alt="ciencias logo">
      </div>
    </div>
    <div class="carousel-item carousel-cqa carousel-bg-img">
    <div class="container text-center">
      <div class="carousel-caption">
        <h1>Centro de Quimica analitica</h1>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit</p>
      </div>
      <img class="carousel-img" src="./assets/images/logo-cqa.png" alt="centro de quimica analitica logo">
    </div>
  </div>
  </div>
</div>
<!-- carousel end -->
<!-- presentation -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-5">Quienes somos</h1>
      <br />
      <h5 class="mx-5 mb-5 text-center">
        <span class="text-primary">El Centro de Química Analítica (CQA)</span>
        es una dependencia de investigación creada en 1984 y adscrita a la
        Dirección de la Escuela de Química de la Facultad de Ciencias de la
        Universidad Central de Venezuela
        <br />
        <br />
        <b
          >La actividad del CQA se orienta principalmente a la investigación
          básica y aplicada en el área de Química Analítica y a la formación de
          recursos humanos en esta disciplina.</b
        >
        <br />
        <br />
        En los Laboratorios del CQA se desarrollan las
        <a [routerLink]="['/sitio', 'investigaciones']"
          >Líneas de Investigación</a
        >
        que lideran sus investigadores, especialmente en las áreas de
        espectroscopía de absorción atómica, espectroscopía de emisión atómica,
        espectrometría de masas y separaciones cromatográficas, así como sus
        aplicaciones analíticas en diferentes campos: Geoquímica, Química
        Ambiental, Química Analítica Clínica y otras.
        <br />
        <br />
        Adicionalmente, el CQA gerencia una
        <a [routerLink]="['/sitio', 'cotizaciones']">División de Servicios</a>
        que realiza servicios de análisis químico a cualquier interesado,
        público o privado, dentro y fuera del ámbito universitario.
      </h5>
    </div>
  </div>
</div>
<!-- presentation end-->
<!-- organization -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-2">Organizacion</h1>
      <br />
      <h5 class="mx-5 mb-5 text-center">
        <span class="text-primary">El Centro de Química Analítica (CQA)</span>
        está estructurado en
        <a [routerLink]="['/sitio', 'laboratorios']">Laboratorios</a>,
        <a [routerLink]="['/sitio', 'investigaciones']"
          >Líneas de Investigación</a
        >
        y la <a href="!#">División de Servicios</a>, los cuales dependen de la
        <a href="!#">Coordinación del CQA</a>. El órgano rector es el
        <a href="!#">Consejo Técnico Administrativo</a>, conformado por los
        investigadores responsables de los Laboratorios.
      </h5>
    </div>
  </div>
</div>
<!-- organization end -->

<!-- members-->
<div class="container mb-4">
  <div class="row mb-4">
    <div class="col">
      <h1 class="text-center mb-5 mt-5">Miembros</h1>
      <div class="row" *ngFor="let member of members; let i = index">
        <div
          class="col-2 col-md-2 mt-2 mb-2 v-align text-center"
          *ngIf="i % 2 === 0"
        >
          <img
            class="member-img"
            [src]="member.imagePath"
            [alt]="member.name + 'Image'"
          />
        </div>
        <div
          class="col-10 col-md-10 v-align"
          [ngClass]="{ 'text-right': i % 2 != 0 }"
        >
          <h2>{{ member.name }}</h2>
          <h5>{{ member.position }}</h5>
          <h5>Correo: {{ member.email }}</h5>
          <h5>Telefono: {{ member.phone }}</h5>
          <h5>Curriculum Vitae: <a href="descargar">(descargar)</a></h5>
        </div>
        <div class="col-2 col-md-2 text-center v-align" *ngIf="i % 2 != 0">
          <img
            class="member-img"
            [src]="member.imagePath"
            [alt]="member.name + 'Image'"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- members end-->
<!-- organigrama -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5 mt-5">Organigrama del centro</h1>
      <img
        class="organigrama-img mt-2"
        src="./assets/images/organigrama.png"
        alt="Organigrama"
      />
    </div>
  </div>
</div>
<!-- organigrama end-->
