<!-- carousel start -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" [ngClass]="{'active': i === 0}" *ngFor="let item of carouselItems; let i = index">
      <img [src]="item.imgUrl" [alt]="'banner' + i">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{item.title}}</h1>
          <p>{{item.desc}}</p>
          <p><a class="btn btn-lg btn-primary" role="button">Cotizar</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- carousel end -->