<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/sitio', 'home']">
      <img
        src="./assets/images/logo-cqa.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
          *ngFor="let route of routes"
          class="nav-item"
          routerLinkActive="active"
          [ngClass]="{'lab': route.class === 'lab'}"
        >
          <a class="nav-link" [routerLink]="['/sitio', route.path]">{{
            route.name
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
