<div class="container">
  <div class="row">
    <div class="col text-center mt-2 mb-2">
      <h1>Laboratorios</h1>
    </div>
    <div class="accordion w-100" id="labAccordion">
      <div class="card" *ngFor="let lab of laboratories; let i = index">
        <div
          class="card-header custom-header"
          [id]="'LabHeading' + i"
          data-toggle="collapse"
          [attr.data-target]="'#LabCollapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'LabCollapse' + i"
        >
          <h4 class="mb-0 text-white">
            {{ lab.name }}
          </h4>
          <div class="plus-symbol text-white">
            <i class="fas fa-plus"></i>
          </div>
        </div>

        <div
          [id]="'LabCollapse' + i"
          class="collapse"
          [attr.aria-labelledby]="'LabHeading' + i"
          data-parent="#labAccordion"
        >
          <div class="card-body">
            <p>{{ lab.description }}</p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
