<div class="container">
    <br>
    <h4 class="text-center mt-2">División de Servicios del CQA</h4>
    <br>
    <p>
        <b> La División de Servicios</b> que gerencia el entro de Química Analítica (CQA) realiza servicios de química analítica a cualquier interesado, público o privado, dentro y fuera del ámbito universitario.
        <br>
        <br> Los servicios analíticos se realizan en los Laboratorios de investigación del CQA bajo la supervisión de sus investigadores, siguiendo los procedimientos contemplados en las normas COVENIN, Standard Methods AOAC, ASTM, o las requeridas de
        acuerdo a las necesidades del cliente.
        <br>
        <br>
        <b>La División de Servicios del CQA</b> conforma parte del Comité Técnico CT16, para envases y empaques para alimentos, reconocido por el Ministerio de Salud.
        <br>

    </p>
    <div class="row">
        <div class="col-12 col-md-8 mt-2">
            <div class="accordion w-100" id="ServiceAccordion">
                <div class="card" *ngFor="let group of organizedServices; let i = index">
                    <div class="card-header custom-header" [id]="'ServiceHeading' + i" data-toggle="collapse" [attr.data-target]="'#ServiceCollapse' + i" aria-expanded="true" [attr.aria-controls]="'ServiceCollapse' + i">
                        <h4 class="mb-0 text-white">
                            {{ group['0'] }}
                        </h4>
                        <div class="plus-symbol text-white">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>

                    <div [id]="'ServiceCollapse' + i" class="collapse" [attr.aria-labelledby]="'ServiceHeading' + i" [attr.data-parent]="'#ServiceAccordion'">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item custom-header" (click)="setService(service)" *ngFor="let service of group['1']">
                                    {{service.title}}
                                    <div class="plus-symbol text-white">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </li>
                            </ul>

                            <br />
                        </div>
                    </div>




                </div>
            </div>
        </div>

        <div #serviceCard class="col-12 col-md-4 mt-2">
            <h4 *ngIf="selectedService" class="text-center">Descripcion</h4>

            <div class="card" *ngIf="selectedService">
                <div class="card-body">
                    <h5 class="card-title">{{selectedService.title}}</h5>
                    <p class="card-text">{{selectedService.description}}</p>
                    <p class="card-text small">{{selectedService.category_title}}</p>
                    <button class="btn btn-primary btn-block" [routerLink]="['/sitio','servicios','cotizacion', selectedService.id ]"> Cotizar o consultar sobre este servicio!</button>
                </div>
            </div>



        </div>
    </div>
</div>