<div class="fadeIn">
  <!-- title -->
  <div class="row">
    <div class="col text-center">
      <h2>Miembros</h2>
      <hr />
    </div>
  </div>
  <!-- content -->
  <!-- create -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary mb-3" (click)="openMemberModal()">
        Crear nuevo miembro <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <!-- list -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <td>{{member.name}}</td>
        <td>{{member.email}}</td>
        <td>{{member.phonenumber}}</td>
        <td class="text-center">
          <button 
            (click)="openMemberModal(member)"
            class="btn btn-icon btn-primary mr-1">
            <i class="fas fa-edit"></i>
          </button>
          <button 
            (click)="deleteMember(member)"
            class="btn btn-icon btn-secondary mr-1">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
