<div class="fadeIn">
  <!-- title -->
  <div class="row">
    <div class="col">
      <h2>Inicio</h2>
      <hr />
    </div>
  </div>
  <!-- content -->
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Nuevas cotizaciones</div>
        <div class="card-body">
          <h5 class="card-title">total</h5>
          <h1>3</h1>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">instrumentos</div>
        <div class="card-body">
          <h1>6</h1>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">investigaciones</div>
        <div class="card-body">
          <h1>8</h1>
        </div>
      </div>
    </div>
  </div>

  <app-loader></app-loader>
</div>
