<!-- organization -->
<div class="container">
  <h1 class="text-center mt-2">Contacto</h1>
  <div class="row">
    <div class="col mt-3 mb-5">
      <br />
      <h5 class="mx-5r">
        Para contactarse con el CQA
        <br />
        <br />
        Telefonos:
        <ul>
          <li>+58 212 6934977</li>
        </ul>
        <br />
        Correos:
        <ul>
          <li>maria.alvarez@ciens.ucv.ve</li>
          <li>maria.maralvar@gmail.com</li>
        </ul>
      </h5>
    </div>
    <div class="w-100 text-center">
      <img
        class="contact-logo-img"
        src="./assets/images/logo-ciencias.png"
        alt="logo ciencias ucv"
      />
      <img
        class="contact-logo-img ml-5 mr-5"
        src="./assets/images/logo-ucv.png"
        alt="logo ucv"
      />
      <img
        class="contact-logo-img"
        src="./assets/images/logo-cqa.png"
        alt="logo cqa ucv"
      />
    </div>
  </div>
</div>
<!-- organization end -->
