<div class="modal-header">
    <h5 class="modal-title">
      <span *ngIf="mode === 'create'">Crear miembro</span>
      <span *ngIf="mode === 'edit'">Editar miembro</span>
    </h5>
    <button (click)="closeModal()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div *ngIf="mode === 'edit'" class="row">
                <div class="col-12 text-center">
                    <img class="member-admin-img" *ngIf="mode === 'edit'" src="{{member.imagePath}}" alt="member image">
                </div>
                <div class="col-12 text-center">
                    <a href="{{member.cv}}" target="_blanck">Curriculum vitae </a>
                </div>
            </div>
    <form [formGroup]="memberForm">
      <div class="form-group">
        <label for="serviceName">Nombre</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Nombre del miembro"
        />
      </div>
      <div class="form-group">
        <label for="serviceName">Correo</label>
        <input
          formControlName="email"
          type="text"
          class="form-control"
          placeholder="Correo del miembro"
        />
      </div>
      <div class="form-group">
        <label for="serviceName">Telefono</label>
        <input
          formControlName="phonenumber"
          type="text"
          class="form-control"
          placeholder="Telefono del miembro"
        />
      </div>
      <div class="form-group">
            <label for="serviceName">Posición</label>
            <input
              formControlName="position"
              type="text"
              class="form-control"
              placeholder="Posición del miembro"
            />
          </div>
      <div class="form-group">
        <label *ngIf="mode === 'create'"  for="serviceName">Imagen</label>
        <label *ngIf="mode === 'edit'"  for="serviceName">Nueva imagen</label>
        <input
        class="form-control mb-2"
        (change)="onImageSelection($event.target.files[0])"
        name="member"
        type="file"
        />
        <p class="text-center">
            <img  *ngIf="imagePreview" class="member-admin-img" [src]="imagePreview" />
        </p>
        <p class="mt-2" *ngIf="invalidFile">
            <small class="text-danger"
              >El formato de la imagen no es valido</small
            >
          </p>
      </div>
      <div class="form-group">
        <label *ngIf="mode === 'create'" for="serviceName">Curriculum Vitae</label>
        <label *ngIf="mode === 'edit'"  for="serviceName">Nuevo Curriculum Vitae</label>
        <input
        class="form-control"
        (change)="onCvSelection($event.target.files[0])"
        name="memberCV"
        type="file"
        />
        <p *ngIf="invalidCVFile">
            <small class="text-danger"
              >El formato del curriculum no es valido</small
            >
        </p>
      </div>
    </form>
   
    
  </div>
  <div class="row pr-3 pl-3">
      <div class="col">
        <div *ngIf="invalidAttempt" class="alert alert-danger" role="alert">
          Debe llenar todos los datos
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <button
      (click)="closeModal()"
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
    >
      Cancelar
    </button>
    <button
      *ngIf="mode === 'create'"
      (click)="createMember()"
      [ngClass]="{'disabled': memberForm.invalid}"
      type="button"
      class="btn btn-primary"
    >
      Crear
    </button>
    <button
      *ngIf="mode === 'edit'"
      (click)="editMember()"
      [ngClass]="{'disabled': memberForm.invalid}"
      type="button"
      class="btn btn-primary"
    >
      Guardar cambios
    </button>
  </div>
  