<!-- organization -->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4 class="mt-2">Contacto para la División de Servicios Analíticos del CQA</h4>
      
    </div>
  </div>
  <div class="row">
    <div class="col mt-3 mb-5">
      <br />
      <h6 class="mx-5r">
        <!-- Para contacto mas detallado comunicarse mediante: -->
        <br />
        <br />
        Telefonos:
        <ul>
          <li>+58 212 6934977</li>
        </ul>
        <br />
        Correos:
        <ul>
          <li>maria.maralvar@gmail.com</li>
          <li>servicios.cqa@gmail.com</li>
        </ul>
      </h6>
    </div>
    <div class="w-100 text-center">
      <img
        class="contact-logo-img"
        src="./assets/images/logo-ciencias.png"
        alt="logo ciencias ucv"
      />
      <img
        class="contact-logo-img ml-5 mr-5"
        src="./assets/images/logo-ucv.png"
        alt="logo ucv"
      />
      <img
        class="contact-logo-img"
        src="./assets/images/logo-cqa.png"
        alt="logo cqa ucv"
      />
    </div>
  </div>
</div>
<!-- organization end -->
