<div class="text-center login-box">
  <form [formGroup]="userForm" class="form-signin">
    <img
      class="mb-4"
      src="../../../../../assets/images/logo-cqa.png"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Bienvenido</h1>
    <label for="inputEmail" class="sr-only">Usuario</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      placeholder="Nombre de usuario"
      autofocus
    />
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="Contraseña"
    />
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [ngClass]="{ disabled: userForm.invalid }"
      (click)="login()"
    >
      Ingresar
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; Centro de quimica analitica</p>
  </form>
</div>
