<div class="container">
  <div class="row">
    <div class="col text-center mt-2 mb-2">
      <h1>Investigaciones</h1>
    </div>
    <div class="accordion w-100" id="researchAccordion">
      <div class="card" *ngFor="let research of researchesByMembers; let i = index">
        <div
          class="card-header custom-header"
          [id]="'ResearchHeading' + i"
          data-toggle="collapse"
          [attr.data-target]="'#ResearchCollapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'ResearchCollapse' + i"
        >
          <h4 class="mb-0 text-white">
            {{ research.researcher }}, {{research.position}}
            <br>
          </h4>
          <div class="plus-symbol text-white">
            <i class="fas fa-plus"></i>
          </div>
        </div>

        <div
          [id]="'ResearchCollapse' + i"
          class="collapse"
          [attr.aria-labelledby]="'ResearchHeading' + i"
          data-parent="#researchAccordion"
        >
          <div class="card-body">
            <h6>Participante en la siguientes investigaciones:</h6>
            <ul class="list-group">
                <ul class="list-group list-group-flush" *ngFor="let title of research.researches">
                    <li class="list-group-item" >
                        <p>{{ title.name }}</p>
                        <p class="small">
                          {{title.description}}
                         
                        </p>
                    </li>
                  </ul>
            
            </ul>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
