<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-2 mb-4">Equipos</h1>
      <p><b>El Centro de Química Analítica (CQA)</b> está estructurado en <b>Laboratorios</b>, <b>Líneas de Investigación</b> y la <b>División de Servicios</b>, los cuales dependen de la <b>Coordinación del CQA</b>. El órgano rector es el <b>Consejo Técnico Administrativo</b>, conformado por los investigadores responsables de los Laboratorios. </p>
    </div>
    <div class="accordion w-100" id="equipmentAccordion">
      <div class="card" *ngFor="let equip of equipment; let i = index">
        <div
          class="card-header custom-header"
          [id]="'EquipHeading' + i"
          data-toggle="collapse"
          [attr.data-target]="'#EquipCollapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'EquipCollapse' + i"
        >
          <h4 class="mb-0 text-white">
            {{ equip.name }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
