<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="mt-2 mb-4">Equipo</h1>
    </div>
    <div class="accordion w-100" id="equipmentAccordion">
      <div class="card" *ngFor="let equip of equipment; let i = index">
        <div
          class="card-header custom-header"
          [id]="'EquipHeading' + i"
          data-toggle="collapse"
          [attr.data-target]="'#EquipCollapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'EquipCollapse' + i"
        >
          <h4 class="mb-0 text-white">
            {{ equip.name }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
