<div class="modal-header">
    <h5 class="modal-title">
        <h4>Solicitud de servicio {{quote.received_date | date:'shortDate'}}</h4>
    </h5>
    <button (click)="closeModal()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <h5 class="text-center">Informacion de contacto</h5>
    <br>
    <p><b>Compañia: </b>{{quote.company_name}}</p>
    <p><b>Rif: </b>{{quote.company_rif}}</p>
    <p><b>Direccion: </b>{{quote.company_address}}</p>
    <p><b>Nombre de contacto: </b>{{quote.contact_name}}</p>
    <p><b>Numero de contacto: </b>{{quote.contact_phone}}</p>
    <p><b>Correo de contacto: </b>{{quote.contact_email}} <button class="btn btn-primary btn-sm" (click)="emailCopy(quote.contact_email)">Copiar correo <i class="fas fa-copy"></i> </button></p>
    <br>
    <h5 class="text-center">Informacion de muestra/servicio</h5>
    <br>
    <div>
        <p><b>Identificacion: </b>{{quote.sample_identification}}</p>
        <p><b>Estado: </b>{{quote.sample_physical_state}}</p>
        <p><b>Tipo: </b>{{quote.sample_type}}</p>
        <p><b>Uso: </b>{{quote.sample_usage}}</p>
        <p><b>Cantidad: </b>{{quote.sample_quantity}}</p>
        <p><b>Servicio solicitado: </b>{{quote.title}}</p>
        <p><b>Otros servicios: </b>{{quote.other_service}}</p>
        <p><b>Observaciones: </b>{{quote.observations}}</p>
    </div>


</div>
<div class="modal-footer">
    <button (click)="sendMail()" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Responder desde la aplicacion de uso frecuente">
  <i class="fas fa-envelope"></i> Responder Correo 
  </button>
    <button (click)="sendGmail()" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Responder desde gmail directamente">
  <i class="fab fa-google"></i> Responder en Gmail 
  </button>
    <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">
    Cerrar
  </button>

</div>