<div class="modal-header">
  <h5 class="modal-title">
    <span *ngIf="mode === 'create'">Crear servicio</span>
    <span *ngIf="mode === 'edit'">Editar servicio</span>
  </h5>
  <button (click)="closeModal()" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="serviceForm">
    <div class="form-group">
      <label for="serviceName">Nombre</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Nombre del servicio"
      />
    </div>
    <div class="form-group">
      <label for="serviceCategory">Categoria</label>
      <select formControlName="category" class="form-control">
        <option value="" selected="selected" disabled
          >Seleccionar categoria</option
        >
        <option *ngFor="let cat of categories" [value]="cat.id">{{
          cat.name
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="serviceDescription">Descripcion</label>
      <textarea
        formControlName="description"
        class="form-control"
        rows="3"
        placeholder="Descripcion del servicio"
      ></textarea>
    </div>
  </form>
</div>
<div class="row pr-3 pl-3">
  <div class="col">
    <div *ngIf="invalidAttempt" class="alert alert-danger" role="alert">
      Debe llenar todos los datos
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    (click)="closeModal()"
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
  >
    Cancelar
  </button>
  <button
    *ngIf="mode === 'create'"
    (click)="createService()"
    [ngClass]="{'disabled': serviceForm.invalid}"
    type="button"
    class="btn btn-primary"
  >
    Crear
  </button>
  <button
    *ngIf="mode === 'edit'"
    (click)="editService()"
    [ngClass]="{'disabled': serviceForm.invalid}"
    type="button"
    class="btn btn-primary"
  >
    Guardar cambios
  </button>
</div>
